<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tabla</title>
    <link rel="stylesheet" href="/css/editarTabla_styles.css">
    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Editar Tabla "<%= tableName %>" en DB "<%= database1.nombre %>"</h1>

    <div class="form-container">
        <form action="/editarTabla" method="POST">
            <input type="hidden" name="DBNombre" value="<%= database1.nombre %>">
            <input type="hidden" name="tableName" value="<%= tableName %>">

            <div id="columns-container">
                <% columnas.forEach((columna, index) => { %>
                    <div class="row">
                        <label for="column-name">Column Name</label>
                        <input type="text" class="column-name" name="columnName" value="<%= columna.Field %>" id="ColumnNAme-[<%= index %>]" required>

                        <label for="datatype">Datatype</label>
                        <input type="text" class="datatype"  name="datatype" value="<%= columna.Type %>" id="Type-[<%= index %>]" required>

                        <label for="pk">PK</label>
                        <input type="checkbox" id="PK-[<%= index %>]" class="pk" name="pk" <%= columna.Key ? 'checked' : '' %>>

                        <label for="nn">NN</label>
                        <input type="checkbox" id="NN-[<%= index %>]" class="nn" name="nn" <%= columna.Null ? 'checked' : '' %>>

                        <button type="button" class="remove-column">Eliminar</button>
                    </div>
                <% }); %>
            </div>

            <button type="button" id="add-column">Agregar Columna</button>
            <button type="submit" class="btn btnGuardar">Guardar Cambios</button>
        </form>
    </div>

    <script src="/js/editarTabla.js"></script>
</body>
</html>
