<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro</title>
    <link rel="stylesheet" href="/css/abrirTabla_styles.css">
</head>
<body>
    <h1>Editar Registro en "<%= tableName %>"</h1>
    
    <form action="/editarRegistro" method="post">
        <input type="hidden" name="databaseName" value="<%= databaseName %>">
        <input type="hidden" name="tableName" value="<%= tableName %>">
        <input type="hidden" name="id" value="<%= registro.id %>">
        <% columnas.forEach(columna => { %>
            <div>
                <label for="<%= columna.Field %>"><%= columna.Field %>:</label>
                <input type="text" id="<%= columna.Field %>" name="<%= columna.Field %>" value="<%= registro[columna.Field] %>">
            </div>
        <% }) %>
        <button type="submit">Guardar</button>
    </form>
    
    <a href="/abrirTabla?database=<%= databaseName %>&table=<%= tableName %>">Volver</a>
</body>
</html>
